<!DOCTYPE html>
<html lang="en">
<head>

  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #222222;
      color: #ffffff;
      margin: 0;
      padding: 0;
    }

    h1 {
      text-align: center;
      margin: 20px 0;
      font-size: 24px;
      color: #ff9900;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px;
    }

    li {
      width: calc(33.33% - 20px); 
      background-color: #333333;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
    }

    /* Estilos para los botones */
    button {
      padding: 8px 16px;
      background-color: #4d4d4d;
      border: none;
      color: #ffffff;
      font-size: 14px;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      margin-top: 10px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #8c8c8c;
    }
  </style>
</head>
<body>
  <h1>Lista de Usuarios</h1>
  <ul>
    {{#each users}}
      <li>
        <p>{{this.first_name}} {{this.last_name}} - {{this.email}}</p>

        <form action="/api/session/delete/{{_id}}" method="post">
          <button type="submit">Eliminar</button>
        </form>
        
        <form action="//{{_id}}" method="get">
          <button type="submit">Actualizar</button>
        </form>
      </li>
    {{/each}}
  </ul>
</body>
</html>
