<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Celular</title>
</head>
<body>
  <h1>Celular</h1>
  <p>Se esta mostrando el celular con el id Buscado en el navegador</p>
  <ul>
    {{#each products}}
    <li>
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <p>Precio: ${{price}}</p>
      <img src="{{thumbnail}}" alt="Imagen del producto">
      <p>Código: {{code}}</p>
      <p>Stock: {{stock}}</p>
    </li>
    {{/each}}
  </ul>
</body>
</html>
